html {
  background-color: #d52c3e;
}

.navbar-header {
  text-align: center;
  color: yellow;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
}

.btn-4 {
  background: #1e94ca;
  color: #fff;
  width: 200px;
}

.btn-4:hover {
  background: #319ed1;
  color: yellow;
}

.btn-4:active {
  background: #2c3e50;
  top: 2px;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 160px;
}

.button-text {
  font-size: 18px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.pokemon-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  align-items: center;
  justify-items: center;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: none;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

@media all and (max-width: 1000px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 850px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames 0.8s linear 0s infinite;
}

.pokeball:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px;
}

.pokeball:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
